[submodule "zonghesuzhipingjia"]
	path = zonghesuzhipingjia
	url = https://github.com/zhuzccn-rgb/zonghesuzhipingjia.git
[submodule "one mind"]
	path = one mind
	url = git@github.com:zhuzccn-rgb/one-mind.git
[submodule "pdf2epub"]
	path = pdf2epub
	url = git@github.com:zhuzccn-rgb/pdf2epub.git
